.happy {
    
}
.happy img{
    object-fit: cover;
}

/* .modall:hover{
    position: fixed;
    justify-content: center;
    z-index: 3;
    top: 10%;
    left: 40%;
}

.fila .modall:hover ~ .fila{
    filter: brightness(0.5);
} */